In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Gathering

In [32]:
# Load a dataset
df = pd.read_csv('IranianTelecom_Classification.csv')
df.head()

,Call Failure,Complains,Subscription Length,Charge Amount,Seconds of Use,Frequency of use,Frequency of SMS,Distinct Called Numbers,Age Group,Tariff Plan,Status,Age,Customer Value,Churn
0,8,0,38,0,4370,71,5,17,3,1,1,30,197.640,0
1,0,0,39,0,318,5,7,4,2,1,2,25,46.035,0
2,10,0,37,0,2453,60,359,24,3,1,1,30,1536.520,0
3,10,0,38,0,4198,66,1,35,1,1,1,15,240.020,0
4,3,0,38,0,2393,58,2,33,1,1,1,15,145.805,0

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3150 entries, 0 to 3149
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Call  Failure            3150 non-null   int64
 1   Complains                3150 non-null   int64
 2   Subscription  Length     3150 non-null   int64
 3   Charge  Amount           3150 non-null   int64
 4   Seconds of Use           3150 non-null   int64
 5   Frequency of use         3150 non-null   int64
 6   Frequency of SMS         3150 non-null   int64
 7   Distinct Called Numbers  3150 non-null   int64
 8   Age Group                3150 non-null   int64
 9   Tariff Plan              3150 non-null   int64
 10  Status                   3150 non-null   int64
 11  Age                      3150 non-null   int64
 12  Customer Value           3150 non-null   float64
 13  Churn                    3150 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 344.7 KB

In [34]:
print(df.shape)
df.columns

(3150, 14)

Index(['Call  Failure', 'Complains', 'Subscription  Length', 'Charge  Amount',
       'Seconds of Use', 'Frequency of use', 'Frequency of SMS',
       'Distinct Called Numbers', 'Age Group', 'Tariff Plan', 'Status', 'Age',
       'Customer Value', 'Churn'],
      dtype='object')

## Data Understanding & Exploration

### Missing Values

In [35]:
# Check for missing values in each column
missing_values = df.isnull().sum()
print("Missing values per column:")
print(missing_values)

Missing values per column:
Call  Failure              0
Complains                  0
Subscription  Length       0
Charge  Amount             0
Seconds of Use             0
Frequency of use           0
Frequency of SMS           0
Distinct Called Numbers    0
Age Group                  0
Tariff Plan                0
Status                     0
Age                        0
Customer Value             0
Churn                      0
dtype: int64

### Summery Statistics

In [36]:
df.describe()

,Call Failure,Complains,Subscription Length,Charge Amount,Seconds of Use,Frequency of use,Frequency of SMS,Distinct Called Numbers,Age Group,Tariff Plan,Status,Age,Customer Value,Churn
count,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000,3150.000000
mean,7.627937,0.076508,32.541905,0.942857,4472.459683,69.460635,73.174921,23.509841,2.826032,1.077778,1.248254,30.998413,470.972916,0.157143
std,7.263886,0.265851,8.573482,1.521072,4197.908687,57.413308,112.237560,17.217337,0.892555,0.267864,0.432069,8.831095,517.015433,0.363993
min,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,15.000000,0.000000,0.000000
25%,1.000000,0.000000,30.000000,0.000000,1391.250000,27.000000,6.000000,10.000000,2.000000,1.000000,1.000000,25.000000,113.801250,0.000000
50%,6.000000,0.000000,35.000000,0.000000,2990.000000,54.000000,21.000000,21.000000,3.000000,1.000000,1.000000,30.000000,228.480000,0.000000
75%,12.000000,0.000000,38.000000,1.000000,6478.250000,95.000000,87.000000,34.000000,3.000000,1.000000,1.000000,30.000000,788.388750,0.000000
max,36.000000,1.000000,47.000000,10.000000,17090.000000,255.000000,522.000000,97.000000,5.000000,2.000000,2.000000,55.000000,2165.280000,1.000000

## Data Cleaning & Preprocessing

### Removing duiplicate rows

In [37]:
# Check for duplicate rows
duplicate_rows = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")

Number of duplicate rows: 300

In [38]:
df = df.drop_duplicates()

In [39]:
print(df.shape)

(2850, 14)

### Fix Inconsistent Data Entries

In [40]:
# Display unique values for each column to check for inconsistent entries
for col in df.columns:
    print(f"\nColumn: {col}")
    print(df[col].unique())

Column: Call  Failure
[ 8  0 10  3 11  4 13  7  6  9 25  2 23 21  1 16 12 14 28  5 26 24 19 15
 22 20 18 17 30 27 29 31 33 35 32 34 36]

Column: Complains
[0 1]

Column: Subscription  Length
[38 39 37 33 36 34 35 31 27 26 25 18 17 15 16  9 40 41 29 28 20 19 11 32
 24 23 13 14  7 42 43 30 22 21 12  5 44 45 10  3  6  8  4 46 47]

Column: Charge  Amount
[ 0  1  2  3  8  4  9  7  5 10  6]

Column: Seconds of Use
[4370  318 2453 ... 8527 2447 1082]

Column: Frequency of use
[ 71   5  60  66  58  82  39 121 169  83  95  54 225  27 182  86  14   0
 127 154  75  47  93  98  22  41  44   2  25  97   7   4 238 116  53  36
  10  32  61  26 141 171  45  40  19  74   8  63  69  85  42 124 172  57
 228  30 185  89  17   3 130 157  78  50  96 101  28 100 241 119  56  13
  35  64  29 144 174  48  43  68  55  79 118 166  80  92  51 222  24 179
  11 151  72  90  38  94 235 113  33  23 138 168  37  16  73  62  84 123
 227 184  88 129 156  77  49  46  99   9   6 240  12  34 143 173  21 167
  81  52 223 180 125 152  91  20 236 114  59 139  15  70  76 131 105 192
 137 164 103 108 107 248 126 181 111 159 215 117  65  31  87 106 161 177
 233 190 135 162 246  18 149 217 146  67 230 133 163 175 231 188 160 104
 244 122 147 115 219 176 148   1 232 110 165 170 226 183 128 155 239 142
 120 224 153 237 140 132 193 109 249 158 214 112 216 145 229 221 178 150
 234 186 102 242 209 211 213 220 136 218 134 187 243 208 191 247 198 254
 196 252 194 250 189 245 199 255]

Column: Frequency of SMS
[  5   7 359   1   2  32 285 144   0   8  54 483 150 186  13 384  11 108
  16  26   9  34  14   4 271  38 175 193  30  10  21  19  28  85  73  31
 215  12 364   6  37 290 149  59 488 155 191  18 389 113  39 276  43 180
 198  35  15  24  33  90  78  36 220 354  27 280 139   3  49 478 145 181
 379 103  29 266 170 188  25  23  80  68 210  17 369  42 295 154  64 493
 160 196 394 118  44 281  48 185 203  40  20  95  83  41 225 349  22 275
 134 473 140 176 374  98 261 165 183  75  63 205  47 300 159  69 498 201
 399 123 286  53 190 208  45 100  88  46 230 344 270 129 468 135 171  93
 256 178  70  58 200 370 296  65 494 161 197 395 119 282 204  96  84 226
 348 274 133 472 373  97 260 164 182  74  62 380 306 504 207 405  55 292
 214  51 106  94  52 236 338 264 462 363  87 250 172 194 391 317  86 515
 218 416  66 303  60 117 105 247 327 253 112 451 352  76 239 143 368 294
 153 492 195 393 184 202  82 224 350 474 141 177 375  99 262 166 206 351
 277 136 475 142 376 263 167  77 367 293 152 491 158 392 116 279  81 223
 334 458 125 246 168 278 137 476 179 377 101 357 283 481 148 382 269 173
  71 213 347 273 132 471 138 174 372 259 163  61 362 288 147  57 486 189
 387 111 342 268 127 466 169  91 254  56 337 122 461 128 249 289 487 388
  89 219 341 267 126 465 366 157  67 299 497 398 229 331 257 455 356 243
 187 310  79 508 211 409 110 240 320 444 345 232 361 287 146 485 386 217
 343 467  92 255 199 360 484 151 385 109 272 216 490 115 222 371 297 156
 495 162 396 120  50 227 302 500 401 192 102 480 381 212 307 505 406 130
 107 237  72 501 402 233 355 479 104 313 511 412 221 469 324 522 423 124
 301 499 400 209 231 358 284 482 383]

Column: Distinct Called Numbers
[17  4 24 35 33 28 18 43 44 25 12 32  8 30 26 11  0 47 37 42 14 16 31  2
  6 22 80 20 23 68  7  3 13 40 19 10 45 46 27 34 49 39 82 70  9  5 15 21
 41 29 78 66  1 38 48 36 51 84 72 76 64 50 53 86 74 62 52 85 73 75 63 58
 59 57 95 83 55 65 71 77 79 67 81 69 60 61 56 93 88 54 87 97]

Column: Age Group
[3 2 1 4 5]

Column: Tariff Plan
[1 2]

Column: Status
[1 2]

Column: Age
[30 25 15 45 55]

Column: Customer Value
[ 197.64    46.035 1536.52  ...  261.21   280.32   100.68 ]

Column: Churn
[0 1]

### Handle Missing Values

In [42]:
df.isnull().sum().sort_values(ascending=False)

Call  Failure              0
Complains                  0
Subscription  Length       0
Charge  Amount             0
Seconds of Use             0
Frequency of use           0
Frequency of SMS           0
Distinct Called Numbers    0
Age Group                  0
Tariff Plan                0
Status                     0
Age                        0
Customer Value             0
Churn                      0
dtype: int64

### Convert Data Types

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2850 entries, 0 to 3131
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Call  Failure            2850 non-null   int64
 1   Complains                2850 non-null   int64
 2   Subscription  Length     2850 non-null   int64
 3   Charge  Amount           2850 non-null   int64
 4   Seconds of Use           2850 non-null   int64
 5   Frequency of use         2850 non-null   int64
 6   Frequency of SMS         2850 non-null   int64
 7   Distinct Called Numbers  2850 non-null   int64
 8   Age Group                2850 non-null   int64
 9   Tariff Plan              2850 non-null   int64
 10  Status                   2850 non-null   int64
 11  Age                      2850 non-null   int64
 12  Customer Value           2850 non-null   float64
 13  Churn                    2850 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 334.0 KB